################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.editorconfig
/.vs/StayAlive/project-colors.json
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.rar
*.7z
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
*.orig
*.ldf
*.mdf
*.ndf
*.DS_Store
